@use "../../../sass/abstracts/mixins";

.header {
 //background-color: lightblue;
 height: 7rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
 text-align: center;
 position: relative;
 z-index: 2;
 margin-bottom: 10rem;
 @include mixins.breakpoint(laptop) {
  margin-bottom: 0;
 }
}
